.footer {
    background-color: rgb(10, 14, 26);
    padding: 120px 0 150px 0;
}

.footer__contant {
    display: flex;
    gap: 350px;
    align-items: start;
}

.footer__text {
    color: rgb(102, 102, 102);
    font-family: var(--fontTitle);
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 15px;
}

.footer__list {
    display: flex;
    gap: 25px;
}

.footer__list-column{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer__social{
    display: flex;
    gap: 21px;
}

.footer__nav{
    display: flex;
    gap: 69px;
    align-items: start;
}

.footer__social{
    width: 10px;
}