.grettings {
    padding: 30px 0 120px 0px;
    background-image: url(../../img/grettings/gretings-fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 125.6px;
    transition: transform 1.5s ease;
}

.logo:hover{
    transform: scale(1.4)
}

.nav__list {
    display: flex;
    gap: 35px;
    align-items: center;
}

.nav__item a{
    color: rgb(255, 255, 255);
    font-family: Libre Franklin;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    cursor: pointer;
    transition: color,transform 1.5s ease;
}

.nav__item-square {
    width: 4px;
    height: 4px;
    background: rgb(255, 255, 255);
    cursor: default;
}

.nav__item_start a{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    padding: 11px 17px;
}

.nav__item:not(.nav__item-square) a:hover{
    color: rgb(90, 185, 99);
    border-color: rgb(90, 185, 99);
    transform: scale(1.2);
}


.hero {
    margin-top: 115px;
}

.hero__contant {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    color: rgb(255, 255, 255);
    font-family: var(--fontTitle);
    font-size: 71px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 1px;
    text-align: center;
}

.hero__text {
    color: rgb(255, 255, 255);
    font-family: var(--fontText);
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}


.hero__radio {
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    margin-top: -20px;
}

.hero__btn {
    margin-top: 61px;
}