.offer{
    margin-top: 120px;
}

.offer_container{
    border-bottom: 1px solid rgb(230, 230, 230);
}

.offer__contant{
    padding-bottom: 120px;
}


.offer__extra-info{
    margin-top: 110px;
    text-align: center;
}

.offer__item{
    display: flex;
    gap: 100px;
}

.offer__item-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    max-width: 370px;
}


.offer__item:last-child{
    margin-top: 90px;
    margin-left: 230px;
}
.extra-info{
    text-align: center;
}