.party {
    padding: 151px 0;
}
.container {
}
.party__contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.party__link {
    color: rgb(90, 185, 99);
    font-family: var(--fontTitle);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    align-items: center;
}

.party__link::after{
    content: "";
    display: inline-block;
    width: 30px;
    height: 2px;
    margin-left: 20px;
    background: rgb(90, 185, 99);
}

.party__info {
    margin-top: 15px;
    max-width: 483px;
    font-family: Libre Franklin;
    font-size: 24px;
    font-weight: 100;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
