.advert {
    margin-top: 127px;
}

.advert__container {
    max-width: 1380px;
    margin: 0 auto;
}

.container {}



.advert__contant {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(39%);
    text-align: center;
}


.advert>.container-decoration {
    padding-bottom: 115px;
}

.info {}

.info-important {}

.advert__info {
    font-size: 24px;
    margin-top: 115px;
}

.advert .extra-info {
    margin-top: 6px;
}


@media (max-width: 1400px) {
    .advert {
        margin-top: 40px;
    }

    .advert__contant {
        text-align: start;
        transform: translateX(0);
    }
}